
    .titulos{
        color: coral;
    }
    body{
        background-color: aquamarine;
    }
    #identificador{
        color:darkcyan;
    }
    #padre{
        background-color: khaki;
        display: flex;
        flex-direction: row;
    }
    #contenedor1{
        background-color: darkorange;
        width: 100px;
        height: 100px;
        margin-left: 100px;
    }
    #contenedor2{
        float: left;
        width: 100px;
        height: 100px;
        background-color: darkolivegreen;
        height: 100px;
    }
    #contenedor3{
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: rgb(39, 162, 211);
        height: 100px;
    }
    #contenedor4{
        position: absolute;
        left: 40%;
        width: 100px;
        height: 100px;
        background-color: rgb(165, 211, 39);
        height: 100px;
    }
    
