body{
    background-color: red;
    padding: 10px;
}
#cajaVerde{
    position: absolute;
    height: 50vh;
    width: 50vw;
    background-color: greenyellow;
   
}
#cajaMorada{
    position: absolute;
    height: 50vh;
    width: 50vw;
    left: 50vh;
    background-color: purple;
   
}
#cajaAmarilla{
    position: absolute ;
    top: 55vh;
    height: 50vh;
    background-color: yellow;
 
}